.error-message{
    color: red;
    margin: 0;
    padding-top: 4px;
}

.subcategory-btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 0px;
}

@media  (max-width:767px) {
    .subcategory-btn{
        align-items: flex-start;
        justify-content: flex-start;
    }
    
}

.country-container{
    display: flex;
    margin: 0 !important;
    gap: 20px;
    padding: 2rem;
}
.country-btn{
    margin-top: 29px !important;
  }


@media (max-width:599px) {
    .country-container{
        gap: 0px;
    }
    .country-btn{
        margin-top: 0px !important;
    }
}

.category-container{
    display: flex;
    margin: 0 !important;
    gap: 20px;
    padding:  2.5rem 2rem 2rem 2.5rem;
}

