.image-class {
    display: flex;
    align-items: center;
    gap: 1rem;
  }


  .information-class {
    /* Ensures the modal content is centered */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  
  
  .information-class p {
    font-size: 1rem; 
    color: #333;
    margin-bottom: 1rem; 
  }
  
  
  .information-class img {
    margin-bottom: 1rem; 
    border-radius: 8px; 
  }
   
  .information-class button {
    padding: 0.5rem 1rem; 
    border-radius: 4px; 
    cursor: pointer; 
  }
  
  